{erl_opts, [
  warn_unused_vars,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
]}.

{deps, [
  {bbmustache, 
        {git, "https://github.com/soranoba/bbmustache.git", {tag, "v1.12.2"}}}
]}.

{relx, [
  {release, {rosetta, "0.1.0"}, [
      %% Erlang
      kernel,
      stdlib,
      observer,
      runtime_tools,
      sasl,
      crypto,
      inets,
      tools,
      runtime_tools,
      os_mon,

      bbmustache
  ]},
  {dev_mode, false},
  {include_src, false},
  {include_erts, true},
  {generate_start_script, true},
  {extended_start_script, true}
]}.

%% == Profiles ==
{profiles, 
    [{prod, 
        [{relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {sys_config_src, "./config/prod/sys.config.src"},
            {vm_args_src, "./config/prod/vm.args.src"}
        ]}
    ]},
    {dev,
        [{relx,
            [{dev_mode, true},
            {include_src, false},
            {include_erts, true},
            {sys_config, "./config/dev/sys.config"}
            ]}
        ]},
    {lint,
        [{plugins,
            [{rebar3_lint,
                {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "v0.1.9"}}}
            ]}
        ]},
    {docs,
        [{deps,
            [{edown,
                ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
            ]}
        ]},
    {test,
        [{deps,[
            meck,
            {mixer, "0.1.5", {pkg, inaka_mixer}}
            ]},
            {erl_opts, [debug_info, export_all]}
        ]}
    ]
}.

{shell, [
  {config, "config/dev/sys.config"},
  {apps, [rosetta]}
]}.

{plugins, [rebar3_proper, rebar3_auto, rebar3_run]}.